<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="text-decoration: underline;">WebBuy</h1>
        <hr>
        <p class="lead">{{'JUMBOTRON.CONTENT-1.SUB-1' | translate}} <b>{{'JUMBOTRON.CONTENT-1.SUB-2'| translate}}</b> {{'JUMBOTRON.CONTENT-1.SUB-3'| translate}}</p>
        <br>
        <p class="lead">{{'JUMBOTRON.CONTENT-2.SUB-1'| translate}} <b style="text-decoration: line-through;">{{'JUMBOTRON.CONTENT-2.SUB-2'| translate}}</b>
        </p>
        <hr>
        <h1 class="display-5">{{'JUMBOTRON.CONTENT-3'| translate}}</h1>
    </div>
</div>