<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="text-decoration: underline;">WebBuy</h1>
        <hr>
        <p class="lead">We focus on quality and customer is <b>God</b> for us. To Serve them is our responsibilty</p>
        <br>
        <p class="lead">In this tough time, We don't suggest you to come out. Hence <b style="text-decoration: line-through;">COD is not acceptable for now.</b>
        </p>
        <hr>
        <h1 class="display-5">Be Safe, Be Healthy at WebBuy</h1>
    </div>
</div>