.navbar {
    height: 5em;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.txt-color,
* {
    color: white;
}

.white-icon {
    color: white;
}

.push-up {
    margin-bottom: 10px;
}

.push-right {
    margin-right: 10px;
}

.list-item {
    font-weight: 500;
    font-size: 14px;
    padding: 0px 2px;
}