.row {
    margin: 0;
}

.center-text {
    text-align: center;
}

.ads {
    font-size: 14px;
    font-weight: 400;
}

.buy-btn {
    width: 240px;
}

.adjust-subtotal {
    font-size: 16px;
    margin-left: 45em;
}