<app-jumbotron></app-jumbotron>
<div class="container-fluid" style="margin-top: 30px;">
    <h1>Shopping Cart</h1>
    <hr>

    <div class="row">
        <div class="col-9">
            <div *ngFor="let cartItem of cartItems">
                <app-cart-item [cart]="cartItem"></app-cart-item>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text center-text ads">{{'CART.TITLE'|translate}}</p>
                    <p class="card-text center-text ads">{{'CART.CONTENT'|translate}}</p>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="card-body">
                    <p class="card-text" style="font-size: 14px;">Subtotal ({{ getLengthOfCart() }} Items):
                        <span style="font-weight: 500;">Rs. {{getTotalCost()}}</span>
                    </p>
                    <button [disabled]="getLengthOfCart()<=0" mat-raised-button class="buy-btn" color="accent" (click)="redirectToPaymentPage()">
                        Proceed To Buy
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <div>
        <p class="card-text adjust-subtotal">Subtotal ({{ getLengthOfCart() }} Items):
            <span style="font-weight: 500;">Rs. {{getTotalCost()}}</span>
        </p>
    </div>
</div>
<hr>