<div class="card zoom">
    <a (click)="redirectToProductDetail()">
        <div style="padding: 5px;">
            <img class="card-img-top" [src]="product.filename" style="height: 230px;" alt="Card image cap">
        </div>
        <div class="card-body">
            <h2 class="card-title adjust-tile">{{product.title | titlecase}} |
                <span style="font-size: 14px;">({{product.type | titlecase}})</span>
            </h2>
            <ul class="navbar-nav mr-auto price-list">
                <li class="nav-item">
                    Rs. {{product.price}}
                </li>
            </ul>
            <div class="adjust-stars">
                <div *ngFor="let i of counter()">
                    <mat-icon>star</mat-icon>
                </div>
            </div>

        </div>
    </a>
</div>