<div class="main-container">
    <app-header></app-header>
    <app-category-tree></app-category-tree>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>


<!-- <app-spinner [isSpinning]="true"></app-spinner> -->
<!-- <app-login></app-login> -->
<!-- <app-product [product]="demoProductDeleteAtTheEnd"></app-product> -->
<!-- <app-product-detail></app-product-detail> -->
<!-- <app-page-not-found></app-page-not-found> -->
<!-- <app-products-grid></app-products-grid> -->
<!-- <app-cart-item [cart]="demoCartProductDeleteAtTheEnd"></app-cart-item> -->
<!-- <app-cart></app-cart> -->
<!-- <app-payment></app-payment> -->

<!-- <app-check-out></app-check-out> -->
<!-- <app-playground></app-playground> -->

<!-- LAST ITEM IF YOU ACEHEIVED BASIC -->